@{
    ViewData["Title"] = "DASHBOARD";
}

<div class="container">
    <div class="estadisticas">
        <div class="tituloTicket">
            <h5 style="font-family: Montserrat;"><b>ESTADÍSTICAS</b> DE LOS TICKETS</h5>
        </div>
        <div class="tickets">
            <div class="ticket">
                <div class="mitad-azul">
                    <img src="https://firebasestorage.googleapis.com/v0/b/dulcesabor-c6f5a.appspot.com/o/Recursos%2FAbiertos.png?alt=media&token=022f9893-4d2b-47be-96b9-cb2953fa886b" alt="Imagen" style="height: 90px;">
                </div>
                <div class="mitad-blanca">
                    <h1 id="tickets-enEspera"><b>@ViewBag.TicketsEnEspera</b></h1>
                    <p><b>Abiertos</b></p>
                </div>
            </div>

            <div class="ticket">
                <div class="mitad-azul2">
                    <img src="https://firebasestorage.googleapis.com/v0/b/dulcesabor-c6f5a.appspot.com/o/Recursos%2FEn%20progreso.png?alt=media&token=70cba7f2-e421-48b3-9d81-d7f739f3091d" alt="Imagen" style="height: 90px;">
                </div>
                <div class="mitad-blanca2">
                    <h1 id="tickets-enProgreso"><b>@ViewBag.TicketsEnProgreso</b></h1>
                    <p><b>En progreso</b></p>
                </div>
            </div>

            <div class="ticket">
                <div class="mitad-azul3">
                    <img src="https://firebasestorage.googleapis.com/v0/b/dulcesabor-c6f5a.appspot.com/o/Recursos%2FRealizado.png?alt=media&token=c7923039-ce1e-4d1b-8ec8-22c13e9dec3d" alt="Imagen" style="height: 90px;">
                </div>
                <div class="mitad-blanca3">
                    <h1 id="tickets-resuelto"><b>@ViewBag.TicketsResueltos</b></h1>
                    <p><b>Resueltos</b></p>
                </div>
            </div>

        </div>

        <div class="linea-tickets">
            <hr style="border-color: black; border-style: solid; border-width: 1px;">
        </div>

        <div class="datosAbajo">
            <div class="graficoDePastel">
                <div class="tituloTicket">
                    <h5 style="font-family: Montserrat;"><b>TENDENCIA</b> DE LOS TICKETS</h5>
                </div>
                <div class="graficoPastel">
                    <canvas id="miGraficoPastel"></canvas>
                </div>
            </div>
            <div class="contenedorDatosVarios">
                <div class="tituloTicket">
                    <h5 style="font-family: Montserrat;"><b>DATOS</b> VARIOS</h5>
                </div>

                <div class="datosVarios">
                    <div class="fila">
                        <div class="columna">
                            <p class="numero" id="tickets-abiertos-hoy"><b>@ViewBag.TicketsAbiertosHoy</b></p>
                            <p class="texto"><strong>Tickets abiertos <br /></strong>durante este día</p>
                        </div>
                        <div class="columna">
                            <p class="numero" id="empleados-sin-ticket"><b>@ViewBag.EmpleadosSinTicket</b></p>
                            <p class="texto"><strong>Empleados</strong><br />sin tickets asignados</p>
                        </div>
                    </div>
                    <div class="fila">
                        <div class="columna">
                            <p id="tickets-resueltos-hoy" class="numero"><b>@ViewBag.TicketsResueltosHoy</b></p>
                            <p class="texto"><strong>Tickets resueltos</strong><br />durante este día</p>
                        </div>
                        <div class="columna">
                            <p class="numero" id="empleados-con-ticket"><b>@ViewBag.EmpleadosConTicket</b></p>
                            <p class="texto"><strong>Empleados</strong><br />con tickets asignados</p>
                        </div>
                    </div>
                    <div class="fila">
                        <div class="columna2">
                            <p style="line-height: 1.2; font-weight: 800;">
                                <strong>Tiempo promedio de resolución:</strong><br>
                                <span style="font-size: 25px;" id="tiempo-resolucion"><b>@ViewBag.TiempoPromedioResolucionHoras</b> horas</span>
                            </p>
                        </div>
                        <div class="columna2">
                            <a href="@Url.Action("Index", "Informes")" class="btn btn-dark w-70" style="width=100px; margin-right: 10px">Ir a Informes</a>
                        </div>

                    </div>
                       
                        
                    </div>

                </div>
                
            </div>
            
        </div>
    </div>

    <div style="margin-top: 25px;">
        <a href="@Url.Action("Index1", "Home")" class="btn btn-dark">Volver</a>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var tendencias = @Html.Raw(Json.Serialize(ViewBag.Tendencias));

            var ctx = document.getElementById('miGraficoPastel').getContext('2d');
            var myPieChart = new Chart(ctx, {
                type: 'doughnut',
                data: {
                    labels: Object.keys(tendencias),
                    datasets: [{
                        label: 'Cantidad: ',
                        data: Object.values(tendencias),
                        backgroundColor: [
                            'rgb(255, 99, 132)',
                            'rgb(54, 162, 235)',
                            'rgb(255, 205, 86)'
                        ],
                        hoverOffset: 4
                    }]
                },
                options: {
                    responsive: true,
                    cutout: '40%',
                    plugins: {
                        legend: {
                            display: true,
                            position: 'right'
                        }
                    }
                }
            });
        });
    </script>
