@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "ASIGNAR TAREA";
}

<style>
    body {
        font-family: 'Montserrat', sans-serif; /* Aplica Montserrat a todo el cuerpo */
    }

</style>

<div class="container mt-5 d-flex">
    <div class="ms-5 ">
        <div class="cabecera d-flex justify-content-between ">
            <div class="titulo">
                <h2 class="fw-bold">Tickets no asignados</h2>
            </div>
            <div class="botones d-flex ">
                <div>
                    <span>Filtrar por:</span>
                    <select name="" id="" class="form-control">
                        <option selected>Prioridad</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="tabla mt-4 overflow-auto" style="height: 70%; margin-bottom: -120%;">
            <table class="table table-striped">
                <thead>
                    <tr class="table-dark">
                        <th scope="col" style="width: 8vw; padding-left: 1.5vw;">N° TICKET</th>
                        <th scope="col" style="width: 15vw;">NOMBRE</th>
                        <th scope="col">PRIORIDAD</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in ViewBag.Tickets)
                    {
                        @if (@item.progreso == "En Espera")
                        {

                            <tr>
                                <td scope="row" style="padding-left: 1.5vw;">@item.id</td>
                                <td>@item.nombre</td>
                                <td>@item.prioridad</td>
                                <td><button class="btn btn-primary">Seleccionar</button></td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>

    <div class="ms-5 w-50 " style="margin-top: 5.7vw;">
        <form asp-action="CreateTarea" method="post">
            <div>
                <input type="text" class="form-control " placeholder="Número de Ticket" id="id_ticket" name="id_ticket" readonly>
            </div>
            <div class="mt-2 ">
                <input type="text" class="form-control " placeholder="Tarea" id="tarea">
            </div>
            <div class="mt-2 ">
                <select class="form-control " name="encargado" id="encargado">
                    <option selected>Se le asigna a...</option>
                    @foreach(var item in ViewBag.Internos)
                    {
                        <option value="@item.id">@item.nombres @item.apellidos - @item.rol</option>
                    }
                </select>
            </div>
            <div class="mt-2">
                <a href="#" class="ms-3" onclick="addTarea()" style="color: blue; font-weight: bold; text-decoration: none;">Añadir tarea</a>
            </div>

            <div class="mt-2 ">
                <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="form-control text-start" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Ver tareas asignadas
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <textarea class="form-control" id="tare_area_usuario" name="tare_area_usuario" readonly></textarea>
                                <textarea class="form-control" id="tare_area" name="tare_area" style="display: none;"></textarea>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="mt-2 ">
                <input type="submit" class="btn btn-primary " value="Añadir tareas">
            </div>
        </form>
    </div>
</div>

<script>
    var numTarea = 1;
    function addTarea() {
        var tarea = document.querySelector("#tarea").value;
        var encargado = document.querySelector("#encargado").value;
        var encargadoUsu = document.querySelector("#encargado");

        var area = document.querySelector("#tare_area");
        var area_usuario = document.querySelector("#tare_area_usuario");

        if (encargado > 0) {
            

            area.append(tarea + "," + encargado + ";");

            var nombreEncargado = encargadoUsu.options[encargadoUsu.selectedIndex].innerText;

            area_usuario.append(numTarea + ". Tarea: " + tarea + ", Encargado: " + nombreEncargado + ". \n");
            numTarea++;

            alert("Tarea añadida");
        }
    }

    document.querySelector(".table").addEventListener("click", (e) => {
        e.stopPropagation();

        if (e.target.parentElement.parentElement.children[0].textContent > 0) {
            document.getElementById("id_ticket").value = e.target.parentElement.parentElement.children[0].textContent;
        }
    });
</script>

<div>
    <div>
        <a asp-action="Index" class="btn btn-dark">Volver</a>
    </div>
</div>