@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<form asp-action="ActualizarTarea" method="post">
    <div class="d-flex justify-content-center">
        <div class="w-75">
            @foreach (var item in ViewBag.tarea)
            {
                <input type="hidden" name="id_tarea" value="@item.id_tarea" />
                <input type="hidden" name="id_interno" value="@item.id_interno" />

                <div class="mt-5">
                    <span>N° de Ticket:</span>
                    <input type="text" class="form-control w-75" name="id_ticket" value="@item.id_ticket" readonly />
                </div>

                <div class="mt-2">
                    <span>Tarea:</span>
                    <input type="text" class="form-control w-75" name="tarea" value="@item.tarea" />
                </div>

                <div class="mt-2">
                    <span>Progreso:</span>
                    <select class="form-control w-75" name="id_estado_progreso">
                        <option selected>@ViewBag.progresoActual</option>
                        @for (int i = 1; i < ViewBag.id_progreso.Count; i++)
                        {
                            var item2 = ViewBag.id_progreso[i];
                            <option value="@item2.id_estado">@item2.nombre</option>
                        }
                    </select>
                </div>

                <div class="mt-2">
                    <span>Encargado:</span>
                    <input type="text" class="form-control w-75" name="nombres_i" value="@item.nombres_i @item.apellidos_i" readonly />
                </div>
            }
            <div class="w-100 mt-4">
                <input type="submit" class="btn btn-primary" value="Actualizar" />
            </div>
        </div>
    </div>
</form>
