@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "SEGUIMIENTO Y ASIGNACIÓN DE TAREAS";
}

<div class="btnVolver d-flex position-fixed bottom-0 p-3 ">
    <a href="#" class="form-control bg-black text-light text-decoration-none ">Volver</a>
</div>

<div class="container mt-5 d-flex justify-content-center ">
    <div class="btnAsignarDiv">
        <a asp-action="AsignarTarea" class="">
            <div class="btnAsignarElementos">
                <img src="./img/portapapeles.png" alt="">
                <div>
                    <span>Asignar tareas</span>
                </div>
            </div>
        </a>
    </div>
</div>

<div class="container mt-5 me-5 ">
    <div class="cabecera d-flex justify-content-between ">
        <div class="titulo">
            <h2 class="fw-bold">Tickets asignados</h2>
            <h4 class="fw-bold">Tickets en progreso</h4>
        </div>
        <div class="botones d-flex ">
            <div>
                <span>Filtrar por:</span>
                <select name="" id="" class="form-control">
                    <option selected>Categoria</option>
                </select>
            </div>
        </div>
    </div>

    <div class="tabla mt-4">
        <table class="table table-striped ">
            <thead>
                <tr class="table-dark">
                    <th scope="col" style="width: 8vw; padding-left: 1.5vw;">N° TICKET</th>
                    <th scope="col" style="width: 40vw;">NOMBRE</th>
                    <th scope="col">PRIORIDAD</th>
                    <th scope="col">ESTADO</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in ViewBag.Tickets)
                {
                    @if(@item.progreso == "En Progreso")
                    {
                        <tr>
                            <th scope="row" style="padding-left: 1.5vw;">@item.id</th>
                            <td>@item.nombre</td>
                            <td>@item.prioridad</td>
                            <td><span class="estadoTabla">@item.progreso</span></td>
                            <td>@Html.ActionLink("Detalles", "TareasYComentarios", "SegAsigTareas", new { id = item.id })</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>

<div class="container mt-5 me-5 ">
    <div class="cabecera d-flex justify-content-between ">
        <div class="titulo">
            <h2 class="fw-bold">Tickets no asignados</h2>
            <h4 class="fw-bold">Tickets creados y listos para recibir tareas</h4>
        </div>
        <div class="botones d-flex ">
            <div>
                <span>Filtrar por:</span>
                <select name="" id="" class="form-control">
                    <option selected>Categoria</option>
                </select>
            </div>
        </div>
    </div>

    <div class="tabla mt-4">
        <table class="table table-striped ">
            <thead>
                <tr class="table-dark">
                    <th scope="col" style="width: 8vw; padding-left: 1.5vw;">N° TICKET</th>
                    <th scope="col" style="width: 40vw;">NOMBRE</th>
                    <th scope="col">PRIORIDAD</th>
                    <th scope="col">ESTADO</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in ViewBag.Tickets)
                {
                    @if (@item.progreso == "En Espera")
                    {
                        <tr>
                            <th scope="row" style="padding-left: 1.5vw;">@item.id</th>
                            <td>@item.nombre</td>
                            <td>@item.prioridad</td>
                            <td><span class="estadoTabla">@item.progreso</span></td>
                            <td>@Html.ActionLink("Detalles", "TareasYComentarios", "SegAsigTareas", new { id = item.id })</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>

<div class="container mt-5 me-5 mb-5 ">
    <h2 class="fw-bold mb-3">Estadísticas</h2>
    <a href="#" class="btnDash">Ir al dashboard</a>
</div>