@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "TAREAS Y COMENTARIOS";
}
<style>
    body {
        font-family: 'Montserrat', sans-serif; /* Aplica Montserrat a todo el cuerpo */
    }

</style>

<div class="container mt-5 me-5 ">
    <div>
        <h2 class="fw-bold ">Detalles del ticket</h2>
    </div>
    @{
        int id = 0;
    }
    @foreach (var item in ViewBag.Tickets)
    {
        <div class="d-flex justify-content-between">
            <div>
                <div>
                    <h5 class="fw-bold ">Nombre del ticket:</h5>
                    <h5 class="fw-bold ">@item.nombre</h5>
                </div>
            </div>
            
            <div class="d-flex">
                <div class="ms-5 ">
                    <h5 class="fw-bold ">Número del ticket:</h5>
                    <h5 class="fw-bold ">#@item.id</h5>
                </div>
                <div class="ms-5 ">
                    <h5 class="fw-bold ">Archivo adjunto:</h5>
                    <a href="@item.archivo" target="_blank" class="fw-bold ">Ver archivo</a>
                </div>
                <div class="ms-5 ">
                    <h5 class="fw-bold ">Prioridad:</h5>
                    <h5 class="fw-bold ">@item.prioridad</h5>
                </div>
                <div class="ms-5">
                    <form asp-action="CerrarTicket" method="post">
                        <input type="hidden" name="id_ticket" id="id_ticket" value="@item.id" />
                        <input type="hidden" name="id_categoria" id="id_categoria" value="@item.categoria" />
                        <input type="hidden" name="nombre_problema" id="nombre_problema" value="@item.nombre" />
                        <input type="hidden" name="descripcion" id="descripcion" value="@item.descripcion" />
                        <input type="hidden" name="archivos" id="archivos" value="@item.archivo" />
                        <input type="hidden" name="fecha_creacion" id="fecha_creacion" value="@item.fecha_creacion" />
                        <input type="hidden" name="fecha_ult_mod" id="fecha_ult_mod" value="@item.fecha_modificacion" />
                        <input type="hidden" name="id_estado_prioridad" id="id_estado_prioridad" value="@item.id_prioridad" />
                        <input type="hidden" name="id_estado_progreso" id="id_estado_progreso" value="6" />
                        <input type="hidden" name="id_cliente" id="id_cliente" value="@item.id_cliente" />
                        <input type="hidden" name="tipo_cliente" id="tipo_cliente" value="@item.tipo_cliente" />

                        <input type="submit" class="btn btn-primary" value="Cerrar Ticket" />
                    </form>
                </div>
            </div>
        </div>
        <div class="mt-5 ">
            <h5 class="fw-bold ">Descripción:</h5>
            <p>
                @item.descripcion
            </p>
        </div>
    }
</div>

<div class="container mt-5 me-5 ">
    <div class="cabecera d-flex justify-content-between ">
        <div class="titulo">
            <h2 class="fw-bold">Tareas asignadas al ticket</h2>
        </div>
    </div>

    <div class="tabla mt-4">
        <table class="table table-striped ">
            <thead>
                <tr class="table-dark">
                    <th scope="col" style="width: 8vw; padding-left: 1.5vw;">N° TAREA</th>
                    <th scope="col" style="width: 40vw;">NOMBRE</th>
                    <th scope="col">ASIGNADO A</th>
                    <th scope="col">ESTADO</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @foreach(var item in ViewBag.tareas)
                {
                    <tr>
                        <th scope="row" style="padding-left: 1.5vw;">@item.id</th>
                        <td>@item.nombre</td>
                        <td>@item.nombres_i @item.apellidos_i</td>
                        <td>@item.progreso</td>
                        <td>@Html.ActionLink("Detalles", "DetalleTarea", "SegAsigTareas", new { id = item.id }, new { style = "color: blue; font-weight: bold; text-decoration: none;" })</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div class="container mt-5 me-5 ">
    <form asp-action="CreateComentario" method="post">
        <div>
            @foreach (var item in ViewBag.Tickets)
            {
                <input type="hidden" name="id_ticket" id="id_ticket" value="@item.id" />
            }
            <h2 class="fw-bold ">Comentarios</h2>
            <textarea class="form-control " name="comentario" id="comentario" placeholder="Escriba su comentario..."></textarea>
        </div>
        <div class="d-flex justify-content-end mt-3 ">
            <input type="submit" value="Añadir comentario" class="btn btn-primary ">
        </div>
    </form>
    <hr>
        @foreach(var item in ViewBag.Comentarios)
        {
            <div class="comentarios p-3 mb-3" style="background-color: #E6E6E6;">
                <div class="d-flex justify-content-between ">
                    <div>
                        <span class="fw-bold ">@item.nombres @item.apellidos - @item.rol</span>
                    </div>
                    <div>
                        <span class="fw-bold ">@item.fecha</span>
                    </div>
                </div>
                <div>
                    <p>
                        @item.comentario
                    </p>
                </div>
            </div>
        }
</div>

<div style="margin-bottom: 10px;">
    <a href="@Url.Action("Index1", "Home")" class="btn btn-dark">Volver</a>
</div>