@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "CREAR TICKETS";
}
<style>
    body {
        font-family: 'Montserrat', sans-serif; /* Aplica Montserrat a todo el cuerpo */
    }

</style>

<form asp-action="CreateTicket" method="post" enctype="multipart/form-data" id="formulario">
    <div class="container d-flex justify-content-center mt-5 ">
        <div>
            <div>
                <input type="hidden" name="id_usuario" id="id_usuario" value="@ViewBag.id_cliente">
                <input type="hidden" name="tipo_usuario" id="tipo_usuario" value="@ViewBag.tipo_usuario">
                <input type="text" class="form-control " placeholder="Nombre de la aplicación a reportar o servicio a solicitar" name="nombre_problema" id="nombre_problema">
            </div>
            <div class="mt-2">
                <textarea class="form-control " placeholder="Explique el problema" name="descripcion" id="descripcion"></textarea>
            </div>
            <div class="mt-2">
                <input type="file" class="form-control " name="archivo" id="archivo">
            </div>
            <div class="mt-2">
                <select class="form-control " name="prioridad" id="prioridad">
                    <option selected>Prioridad</option>
                    @foreach (var item in (IEnumerable<dynamic>)ViewData["estadosPrioridad"])
                    {
                        @if(item.tipo_estado == "Prioridad")
                        {
                            <option value="@item.id_estado">@item.nombre</option>
                        }
                    }
                </select>
            </div>
            <div class="mt-2">
                <select class="form-control " name="id_categoria" id="id_categoria">
                    <option selected>Categoría</option>
                    @foreach (var item in ViewBag.categorias)
                    {
                        <option value="@item.id_categoria">@item.categoria</option>
                    }
                </select>
            </div>
            <div class="mt-2">
                <input type="text" class="form-control " name="nombre_cliente" id="nombre_cliente" value="@ViewBag.nombre_cliente" readonly>
            </div>
            <div class="mt-2">
                <input type="text" class="form-control " name="direccion" id="direccion" value="@ViewBag.direccion_cliente" readonly>
            </div>
            <div class="mt-2">
                <input type="text" class="form-control " name="telefono" id="telefono" value="@ViewBag.telefono_cliente" readonly>
            </div>
            <div class="mt-2 d-flex  justify-content-center ">
                <input type="submit" class="form-control bg-primary text-light w-25 " value="Crear">
            </div>
        </div>
    </div>
</form>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        document.getElementById("formulario").addEventListener('submit', validarFormulario);
    });

    function validarFormulario(evento) {
        evento.preventDefault();
        var nombre_problema = document.getElementById('nombre_problema').value;
        var descripcion = document.getElementById('descripcion').value;
        var prioridad = document.getElementById('prioridad').value;
        var archivo = document.querySelector('#archivo').files[0];

        if (archivo == null) {
            alert('Problema con el archivo');
            return;
        }

        if (nombre_problema.length == 0 || descripcion.length == 0 || prioridad == "Prioridad" || archivo == null   ) {
            alert('Se deben rellenar todos los campos solicitados');
            return;
        }

        this.submit();
    }
</script>

<div>
    <a asp-action="Index" class="btn btn-dark">Volver</a>
</div>