@{
    ViewBag.Title = "INFORMES";
}
<style>
    body {
        font-family: 'Montserrat', sans-serif; /* Aplica Montserrat a todo el cuerpo */
    }

    .cuadro-rojo {
        background-color: red;
    }

    .cuadro-amarillo {
        background-color: yellow;
    }

    .cuadro-verde {
        background-color: green;
    }

</style>

<div class="container mt-5">
    <div class="cabecera d-flex justify-content-between ">
        <div class="titulo">
            <h2 class="fw-bold">Informe</h2>
        </div>
        <div class="botones d-flex">
            <div>
                <span>Filtrar por Estado:</span>
                <form method="get" action="@Url.Action("Index")">
                    <select name="estadoFiltro" id="estadoFiltro" class="form-control" onchange="this.form.submit()">
                        <option value="">Estado</option>
                        @foreach (var estado in ViewBag.estados)
                        {
                            bool isSelected = estado.ToString() == ViewBag.estadoFiltro;
                            <option value="@estado" selected="@isSelected">@estado</option>
                        }
                    </select>
                </form>
            </div>

            <div style="margin-left: 10px;">
                <span>Filtrar por Prioridad:</span>
                <form method="get" action="@Url.Action("Index")">
                    <select name="prioridadFiltro" id="prioridadFiltro" class="form-control" onchange="this.form.submit()">
                        <option value="">Prioridad</option>
                        @foreach (var prioridad in ViewBag.prioridades)
                        {
                            bool isSelected = prioridad.ToString() == ViewBag.prioridadFiltro;
                            <option value="@prioridad" selected="@isSelected">@prioridad</option>
                        }
                    </select>
                </form>
            </div>
        </div>


    </div>

    <div class="tabla mt-4">
        <table class="table table-striped ">
            <thead>
                <tr class="table-dark">
                    <th scope="col" style="width: 8vw; padding-left: 1.5vw;">N° TICKET</th>
                    <th scope="col" style="width: 30vw;">NOMBRE</th>
                    <th scope="col">CLIENTE</th>
                    <th scope="col">CATEGORÍA</th>
                    <th scope="col">PRIORIDAD</th>
                    <th scope="col">FECHA</th>
                    <th scope="col">ESTADO</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in ViewBag.listaDeTickets)
                {
                    <tr>
                        <td>@item.N_ticket</td>
                        <td>@item.nombre</td>
                        <td>@item.atiende</td>
                        <td>@item.categoria</td>
                        <td>@item.prioridad</td>
                        <td>@item.fecha.ToString("dd/MM/yyyy")</td>
                        <td>
                            @{
                                string estadoClase = "";
                                string estadoTexto = "";

                                switch (@item.progreso)
                                {
                                    case "En Espera":
                                        estadoClase = "cuadro-rojo";
                                        estadoTexto = "En Espera";
                                        break;
                                    case "En Progreso":
                                        estadoClase = "cuadro-amarillo";
                                        estadoTexto = "En Progreso";
                                        break;
                                    case "Resuelto":
                                        estadoClase = "cuadro-verde";
                                        estadoTexto = "Resuelto";
                                        break;
                                    default:
                                        estadoTexto = @item.progreso;
                                        break;
                                }
                            }
                            <div class="@estadoClase" style="border-radius: 5px; padding: 5px; color: black; text-align: center;">
                                @estadoTexto
                            </div>
                        </td>
                    </tr>
                }
                @*<script>

                </script>*@
            </tbody>
        </table>

    </div>

    <div style="margin-left: 10px;">
        <a href="@Url.Action("Index", "Dashboard")" class="btn btn-primary">Ir al Dashboard</a>
    </div>
</div>

<div class="btnVolver d-flex position-fixed bottom-0 p-3 ">
    <a href="#" class="form-control bg-black text-light text-decoration-none ">Volver</a>
</div>

